table {
   border-collapse: collapse;
   
   margin: auto;
   text-align: center;
}

table, th, td {
   
   border: 1px solid black;
   padding: 10px;
   text-align: center;
}

h1, h2 {
	text-align:  center;
}

.footer {
  max-width: 200px;
  height: 1000px;
  margin: 0 auto;
  font-weight: normal;
  
 
}


.hr-line {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    }