table {
   border-collapse: collapse;
   
   margin: auto;
   text-align: center;
}

table, th, td {
   
   border: 1px solid black;
   padding: 10px;
   text-align: center;
   margin: 0 auto;
}

h1 {
	text-align:  center;
    text-indent: -50px;
}

h2 {
	text-align:  center;
    text-indent: -330px;
}
.footer {
	
  max-width: 200px;
  height: 5000px;
  margin: 0 auto 100px;
  padding: 100px;
  font-weight: normal;
  
 
}


.hr-line {
   
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    }
